.heading{
    color: gray;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 10px;
    margin-top: 0;
}
h1{
    color: gray;
    text-align: center;
    background-color: pink;
    border-style: solid;
    font-family: 'Courier New', Courier, monospace;
}

li{
    text-decoration: none;
}
 a{
    display: flex;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;

}

/* ELLEMENTS */
/* WE HAVE TWO TYPES OF ELEMENTS
1.Inline elements 
2.Block Elements */

.elements{
    color: gray;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}